/*==================== Google fonts link ====================*/
@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;600;700&display=swap');

/*==================== Css variables ====================*/
:root{
 --Almost-White: hsl(0, 0%, 98%);
 --Medium-Gray: hsl(0, 0%, 41%);
 --Almost-Black: hsl(0, 0%, 8%);
}

/*==================== Html reset ====================*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*==================== Base ====================*/
body{
  background: var(--Almost-White);
  font-family: 'Epilogue', sans-serif;
  color: var(--Medium-Gray);
}

img{
  max-width: 100%;
  height: auto;
}

button{
  font-family: inherit;
}

/*==================== Reusable css classes ====================*/
.container{
  max-width: 1128px;
  margin: 0 auto;
  width: 90%;
}

.grid{
  display: grid;
}

/*==================== Header ====================*/
.header{
  width: 100%;
  background: transparent;
}

/*==================== Navigation ====================*/
.navigation{
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo{
  height: 1.5rem;
  margin-right: 2.25rem;
}

.nav__menu{
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.nav__list{
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.nav__item{
  position: relative;
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__link{
  color: var(--Medium-Gray);
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: .5rem;
  transition: .3s;
}

.nav__arrow{
  width: .75rem;
  transition: .3s;
}

.nav__link:hover{
  color: var(--Almost-Black);
}

.nav__btn{
  padding: .75rem 1rem;
  border: 1px solid currentColor;
  border-radius: 9px;
}

/*==================== Drop-down Menu ====================*/
.sub__list{
  position: absolute;
  top: 100%;
  left: -70%;
  width: 150px;
  background: var(--Almost-White);
  box-shadow: 0 0 30px rgba(0, 0, 0, .1);
  padding: 1.25rem 1rem;
  border-radius: 9px;
  list-style: none;
  display: flex;
  flex-direction: column;
  row-gap: 1.25rem;
  display: none;
}

.sub__link{
  color: var(--Medium-Gray);
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: .75rem;
  transition: .3s;
}

.nav__img{
  width: 1rem;
  height: 1rem;
}

.sub__link:hover{
  color: var(--Almost-Black);
}

.nav__item:hover .sub__list,
.nav__item:focus-within .sub__list{
  display: inline-flex;
  animation: slideIn .5s ease 0s 1 normal forwards;
}

@keyframes slideIn {
	0% {
		opacity: 0;
		transform: translateY(-25px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.nav__item:hover .nav__arrow,
.nav__item:focus-within .nav__arrow{
  transform: rotate(180deg);
}

.nav__close,
.nav__toggle{
  display: none;
}

/*==================== Hero ====================*/
.main{
  width: 100%;
  overflow: hidden;
}

.hero{
  display: grid;
  grid-template-columns: 2fr 1.75fr;
  align-items: center;
  gap: 1.5rem;
}

.hero__data{
  width: 100%;
}

.hero__title{
  font-size: 4rem;
  line-height: 1;
  color: var(--Almost-Black);
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.hero__description{
  line-height: 1.6;
  color: var(--Medium-Gray);
  font-size: 1rem;
  width: 70%;
  margin-bottom: 1.5rem;
}

.hero__btn{
  padding: 1rem;
  border: 1px solid var(--Almost-Black);
  background: var(--Almost-Black);
  border-radius: 9px;
  color: var(--Almost-White);
  transition: .3s;
  cursor: pointer;
  font-weight: 700;
}

.hero__btn:hover{
  background: transparent;
  color: var(--Almost-Black);
}

.logos__container{
  padding: 6rem 0 2rem;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.logo{
  height: 1.25rem;
}

.hero__image{
  background-image: url(../images/image-hero-desktop.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 400px;
  height: 550px;
}

/*==================== Media queries ====================*/
/* Bellow 992px wide */
@media (max-width: 62em) {
  .hero{
    grid-template-columns: 1fr;
  }

  .hero__image{
    order: -1;
  }

  .logos__container{
    justify-content: center;
  }
}

/* Bellow 704px wide */
@media (max-width: 44em) {
  .nav__menu{
    position: fixed;
    top: 0;
    right: -100%;
    height: 100vh;
    background: var(--Almost-White);
    width: 300px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2rem;
    padding: 4rem 2.5rem;
    box-shadow: -12px 0 25px rgba(0, 0, 0, .1);
    opacity: 0;
    transition: .3s;
  }

  .nav__list{
    flex-direction: column;
    width: 100%;
    gap: 1.5rem;
  }

  .nav__item{
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 1.5rem;
  }

  .sub__list{
    position: initial;
    width: 100%;
    box-shadow: none;
    background: transparent;
    padding: 0 1.25rem;
  }

  .nav__list--secondary .nav__item{
    align-items: center;
  }

  .nav__btn{
    width: 100%;
    text-align: center;
    display: block;
  }

  .nav__close{
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    cursor: pointer;
  }

  .nav__close,
  .nav__toggle{
    display: block;
  }

  .open-menu{
    right: 0;
    opacity: 1;
  }

  .hero__description{
    width: 100%;
  }
}

/* Bellow 432px wide */
@media (max-width: 27em) {
  .hero__image{
    order: -1;
    background-image: url(../images/image-hero-mobile.png);
    height: 300px;
    background-size: 100%;
  }

  .logos__container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.25rem;
    justify-items: center;
  }

  .logo{
    height: 1rem;
  }

  .hero__data{
    text-align: center;
  }

  .nav__menu{
    width: 100%;
  }

  .hero__title{
    font-size: 2.5rem;
  }
  
  .hero__description{
    font-size: .913rem;
  }
}